body {
  background: green;
}

.webgl-container {
  width: 70%;
  height: 100%;
  float: left;
}

.webgl-container > canvas {
  width: 100% !important;
}

.control-container {
  width: 30%;
  float: left;
}

.control-container-list .task {
  background: white;
}

.control-container-list .task.active {
  background: red;
}
